<div class="container">
    <div class="container-fluid">
        <div class="comment">
            <div class="comment-body">
                {{commentBody}}
            </div>
                    <hr>

            <div class="comment-footer">
                - commented by {{commentedBy}} on {{commentDate}}
            </div>
        </div>
    </div>
</div>
