<div class = "conatiner">

    <h1 align = "center" class="text-danger"> OOPS !!! </h1>
    <br><br>
    <h3 align = "center">The page you are looking for is not found. Anyways you can continue reading <a href="/stories">here</a></h3>

</div>