<div class = "conatiner">

    <h1 align = "center" class="text-danger"> OOPS !!! </h1>
    <br><br>
    <h3 align = "center">Something went wrong. We sincerely regret the inconvinience</h3>
    <h3 align = "center">Continue reading <a href="/stories">here</a></h3>

</div>