<div class="container">
    <div class="jumbotron"><h1 align="center">Something to say</h1></div>
    <div class="row">
        <div class="col-lg-6 home-quote">
            <i class="fa fa-quote-left fa-pull-left fa-border fa-lg" aria-hidden="true"></i>
            <div>{{famousQuote}} </div>
            <p class="pull-right text-muted">- {{author}}</p>
        </div>
        <div class="col-lg-6 home-button-group">
            <a class="btn btn-success btn-lg" href="/stories">Browse stories</a>
            <a class="btn btn-default btn-primary btn-lg" href="/createStory">Write yours</a>
        </div>
    </div>
</div>